.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.header {
  text-align: center;
  padding: 37px 10px;
  color: #001A23;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  font-weight: 600; /* Makes the text slightly bolder */
  font-size: 2.5em; /* Increase font size for emphasis */
  background: linear-gradient(to bottom, rgba(220, 215, 206, 0.866), rgba(232, 198, 136, 0.819));
  box-shadow: 0px 0px 15px rgba(160, 159, 159, 0.8);
  border-bottom: 3px solid rgba(242, 176, 63, 0.7); /* A subtle bottom border */
  margin-bottom: 30px; 
}

.profile {
  display: flex;
  align-items: center;
  color: gainsboro;
  margin-top: 10px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.bio {
  flex: 1;
  flex-wrap: wrap;
}

.subsection-title {
  color: #BCF2BB;
  font-size: 24px;
  border-bottom: 2px solid #BCF2BB;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.subsection-content {
  color: rgb(228, 228, 228);
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.journey{
  margin: 20px;
}

.journey h2 {
  color: rgb(216, 182, 123);
}

.community {
  margin: 20px;
}

.community h2{
  color: rgb(216, 182, 123);
}

.background{
  margin: 20px;
}

.background h2 {
  color: rgb(216, 182, 123);
}

.interests {
  margin-top: 40px;
}

.interests h2 {
  color: rgb(216, 182, 123);
}

.interests ul {
  list-style-type: circle;
  margin-left: 20px;
}

.contact {
  margin-top: 30px;
}