/* styles/Navbar.module.css */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
  background-color: rgba(var(--foreground-rgb), 0.1);
  color: rgb(var(--foreground-rgb));
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--primary-glow);
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.navItem {
  width: 100%;
}

.navLink {
  display: block;
  padding: 0.4rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background-color: rgba(var(--foreground-rgb), 0.05);
}

@media (prefers-color-scheme: dark) {
  .nav {
    background-color: rgba(var(--foreground-rgb), 0.1);
    color: rgb(var(--foreground-rgb));
  }

  .navLink {
    color: rgb(var(--foreground-rgb));
  }

  .navLink:hover {
    background-color: rgba(var(--foreground-rgb), 0.15);
  }
}
