.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  color: #333;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.project-card img {
  max-width: 100%;
  height: auto;
}