.projectsContainer {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

.projectCard {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.projectTitle {
    margin-top: 15px;
    margin-bottom: 10px;
}

.projectImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.projectLink {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.projectLink:hover {
    background-color: #45a049;
}
