/* styles/spinningWorld.module.css */
@keyframes sway {
  0%, 100% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

.computerSway {
  display: inline-block; 
  animation: sway 3s infinite;
  margin-left: 5px; 
}